<div class="block-header">
  <h2>Votes</h2>
</div>

<%= render partial: 'shared/notices'%>

<div class="card">
  <div class="listview lv-bordered lv-lg">
    <div class="lv-header-alt clearfix">
      <h2 class="center"><%=@total_votes  %> Votes</h2>

      <div class="pull-right">

      </div>
    </div>

    <div class="lv-body">
      <div class="lv-item media normal">
        <% if @votes.any? %>
          <% @votes.each do |user|%>
            <div class="col-md-6">
              <%#= image_tag (user.image) %>
              <br>
              <%= user.candidate_name %>

              <%= render partial: 'vote', locals: {user: user} %>
            </div>
          <%end%>
        <%else%>
           <i class="center">  <%= link_to "Add Candidates", new_vote_path%></i>
        <%end%>
      </div>
    </div>
  </div>
</div>
