<!DOCTYPE html>
<html lang="en">
  <%= render partial: "layouts/head"%>
  <body>

    <%= render partial: "layouts/navigation"%>
    <section id="main">
      <%= render partial: "layouts/sidebar"%>
      <section id="content">
        <div class="container">
          <%if content_for?(:content)%>
            <%= yield(:content)%>
          <%else%>
            <%#= flash_messages%>
            <%= yield %>
          <%end%>
        </div>
      </section>
    <%= render partial: "layouts/footer"%>
  </body>
</html>
